/* App */

.App__top {
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 1.25rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.App__main {
  display: flex;
  padding: 1.5rem;
}

.App__left {
  margin-right: 2rem;
}

.App__middle {
  margin-right: 2rem;
}

