/* App */

.App__top {
  background: rgb(43, 43, 43);
  color: white;
  padding: 1.25rem 1.5rem;

  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.App__main {
  display: flex;
  padding: 1.5rem;
}

.App__middle {
  margin: 0 2rem;
}

.App__right{
  flex-grow: 1;
}
