.Button {
  background: #eee;
  border: 1px solid #ccc;
  color: #333;
  font-size: 1rem;
  line-height: 1;
  height: 36px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0.5rem 0.75rem;
  cursor: pointer;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 4px;
  white-space: nowrap;
}

.Button:hover {
  background: #ddd;
  border-color: #bbb;
}

.Button > * {
  vertical-align: middle;
}

.Button--iconLeft svg {
  margin-right: 0.3rem;
}

.Button--iconRight svg {
  margin-left: 0.3rem;
}

.Button--dark {
  background: #444;
  color: white;
  border-color: #777;
}

.Button--dark:hover {
  background: #555;
  border-color: #bbb;
}

.Button--minimal {
  height: auto;
  background: transparent;
  border: none;
  padding: 0;
  color: currentColor;
  font-size: 0.9em;
}

.Button--minimal:hover {
  background: transparent;
  border-color: none;
  opacity: 0.8;
}

.Button:disabled {
  opacity: 0.25;
  cursor: default;
}
