.Detail__info {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.Detail__position input {
  width: 3rem;
}

.Detail__header {
  color: white;
  padding: 12px 18px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.Detail__header--light {
  color: inherit;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Detail__body {
  background: #eee;
  padding: 18px;
  border-radius: 0 0 10px 10px;
}

.Detail__color * {
  vertical-align: middle;
}
.Detail__hexInput {
  width: 2rem;
}

.Detail__nav svg {
  vertical-align: text-top;
}
