.Detail__info {
  display: flex;
  margin-bottom: 1.25rem;
  justify-content: space-between;
}

.Detail__position input {
  width: 3rem;
}

.Detail__header {
  background: #ccc;
  padding: 12px 18px;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
}

.Detail__body {
  background: #eee;
  padding: 18px;
  border-radius: 0 0 10px 10px;
}

.Detail__color * {
  vertical-align: middle;
}
.Detail__hexInput {
  width: 2rem;
}

.Detail__navBtn {
  background: transparent;
  border: none;
  padding: 0.25rem;
  cursor: pointer;
  color: black;
}
.Detail__navBtn:disabled {
  opacity: 0.25;
  cursor: default;
}
.Detail__navBtn svg {
  vertical-align: text-top;
}
