.Gradient {
  display: flex;
}

.Gradient__track {
  background-color: #eee;
  flex: 0 18px;
  position: relative;
  cursor: copy;
  border: 1px solid transparent;
}

.Gradient__canvas {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
}

.Gradient__zoom {
  margin-top: 1rem;
  text-align: right;
}

.Gradient__zoom input[type="number"] {
  width: 4rem;
}
