.Gradient {
  display: flex;
}

.Gradient__track {
  background-color: #eee;
  flex: 0 18px;
  min-width: 18px;
  position: relative;
  cursor: copy;
  border: 1px solid transparent;
}

.Gradient__canvas {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: calc(100% - 18px);
}

.Gradient__options {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.Gradient__zoom input[type="number"] {
  width: 4rem;
}

.Gradient__canvas.hidden {
  display: none;
}
