.Options {
  display: flex;
}
.Options > div {
  margin-right: 1.5rem;
}
.Options label {
  color: #ccc;
  display: block;
  margin-bottom: 3px;
  white-space: nowrap;
}
.Options input[type="number"] {
  width: 4rem;
}
.Options input:disabled {
  opacity: .5;
}
.Options__ditherAmount {
  white-space: nowrap;
}
input.Options__ditherAmountRange {
  width: 200px;
  vertical-align: middle;
}
input.Options__ditherAmountInput {
  width: 3rem;
}
