.Options {
  display: flex;
}
.Options > div {
  margin-right: 1.5rem;
}
.Options label {
  display: block;
}
.Options input {
  width: 4rem;
}
.Options input[type="range"] {
  width: 200px;
}
.Options > div > * {
  vertical-align: middle;
}
