.Output {
  height: 100%;
}

.Output__pre {
  background: #333;
  color: #fff;
  margin: 0;
  padding: 1rem;
  overflow: scroll;
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  box-sizing: border-box;
}
