.Output {
  display: flex;
  flex-direction: column;
}

.Output__header {
  margin-bottom: 0.75rem;
}

.Output pre {
  height: 430px;
  font-size: 0.9em;
}
.Output code {
  word-break: break-word !important;
}
